/* cyan: #02B1DB
bright turquoise: #18E7DD
purple: #7F74FF
hot pink: #FF23FF
yellow: #FCFC32 
white */



html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(-120deg, #02B1DB,  #FF23FF);
  background-repeat:no-repeat;
  background-size: cover;

}
