/* dark sky blue: #02B1DB
dark seafoam: #03E490
aqua: #18E7DD
indigo: #1D16C5
white: #FFFFFF
canary: #FDFD71  */



html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(-120deg, #03E490, #18E7DD, #03E490);
  background-repeat:no-repeat;
  background-size: cover;

}
